<ng-container *ngIf="company">

    <!-- header not reusable because it is tied to "comapny" domain -->
    <header [style.background-image]=" 'url(' + company.bannerUrl + ')' ">
        <div class="text">
            <h1>{{ company.name }}</h1>
            <h2>{{ company.tagline }}</h2>
        </div>
    </header>

    <div class="text-block">
        <h2>About Us</h2>
        {{ company.aboutUs }}
    </div>

    <div class="video-block">
        <div class="video-wrapper">
            <iframe width="1280" height="720" [src]="youtubeUrl" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

    <!-- text-block HTML repeated several times; relies on shared css. Not reusable. -->
    <div class="text-block">
        <h2>Our Features</h2>
        <p>
            {{ company.features }}
        </p>
    </div>

    <div class="text-block">
        <h2>Market</h2>
        <p>
            {{ company.market }}
        </p>
    </div>

    <!-- breaking single responsibility - team grid is a separate concer, could become complex -->
    <div class="team">
        <div *ngFor="let team of company.teamMembers" class="member">
            <img [src]="team.imageUrl">
            <div class="name">
                {{ team.name }}
            </div>
        </div>
    </div>

</ng-container>