:host {
    display: block;
    background-color: #e3e3e3;
    height: 20vh;
    text-align: center;
    background-size: cover;
    background-position: center bottom;
    color: white;
    padding-top: 15vh;
}

h1 {
    margin-bottom: 16px;
}

h2 {
    font-weight: 300;
}
