<ng-container *ngIf="company">

    <!-- element names are more semantic -->
    <app-profile-header [heading]="company.name" [subHeading]="company.tagline"
        [backgroundImageUrl]="company.bannerUrl"></app-profile-header>

    <!-- no repeated HTML -->
    <app-profile-text-block heading="About Us" class="about-us">
        <p>{{ company.aboutUs }}</p>
    </app-profile-text-block>

    <app-profile-video [src]="company.videoUrl"></app-profile-video>

    <!-- minimal repitition to re-use block -->
    <app-profile-text-block heading="Our Features" class="features">
        <p>{{ company.features }}</p>
    </app-profile-text-block>

    <app-profile-text-block heading="Market" class="market">
        <p>{{ company.market }}</p>
    </app-profile-text-block>

    <!-- complexity is abstracted away via single responsibility -->
    <app-profile-image-grid>
        <app-profile-image-grid-item *ngFor="let person of company.teamMembers" [label]="person.name"
            [imageUrl]="person.imageUrl"></app-profile-image-grid-item>
    </app-profile-image-grid>

</ng-container>