$max-width: 1024px;

:host {
    display: block;
    padding-bottom: 70px;
}

// structural concerns (ie dimensions and margins) are handled by parent smart component
//  to give maximum flexibility to dumb components
app-profile-text-block {
    display: block;
    max-width: $max-width;
    margin: 56px auto;
}

app-profile-image-grid {
    max-width: $max-width;
    margin: 60px auto;
}
